body {
  /* background-color: lightgray; */
  color: #636e72;
}
/* 
.section-preview {
  border: 1px solid #e0e0e0;
  padding: 15px;
}
*/
/* .content {
  font-size: 18px;
} */

.job {
  height: 80px;
}

.odd {
  background: #cccccc5c;
}

.even {
}
