<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			MFALL LIMITED
			{% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/litera/bootstrap.min.css" integrity="sha256-vbXIi7CL5y/ovgSMLYzWxaKXDcpUaaOPtzcZpH1J6p4=" crossorigin="anonymous"/>
		{% block stylesheets %}
			{# 'app' must match the first argument to addEntry() in webpack.config.js #}
			{{ encore_entry_link_tags('app') }}

			<!-- Renders a link tag (if your module requires any CSS)
												                 <link rel="stylesheet" href="/build/app.css"> -->
		{% endblock %}
	</head>
	<body>
		{% include "navbar/navbar.html.twig" %}
		<div class="container-fluid"> {% block body %}{% endblock %}
			</div>
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}

				<!-- Renders app.js & a webpack runtime.js file
																                <script src="/build/runtime.js"></script>
																                <script src="/build/app.js"></script> -->
			{% endblock %}
		</body>
	</html>
