{% extends 'base.html.twig' %}

{% block title %}Jobs List
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		{% include "jobs/alert.html.twig" with { message: message } %}
	{% endfor %}
	<h4 class="border-bottom mb-4 mr-3 border-primary">Jobs List</h4>
	<div id="jobs" class="ml-3">
	{% for job in jobs %}
		{% include "jobs/item.html.twig" with {job: job} %}
	{% endfor %}
	</div>

{% endblock %}
