{% extends 'base.html.twig' %}

{% block title %}Jobs List
{% endblock %}

{% block body %}
	<h5 class="border-bottom">Jobs List</h5>
	{% for message in app.flashes('success') %}
		<div class="flash-success d-flex justify-content-center">
			<div class="alert alert-success w-25 text-center" role="alert">
				{{ message }}
			</div>
		</div>
	{% endfor %}
	<div class="row d-flex justify-content-center">
		<div class="col-md-3">
			<ul class="list-group list-unstyled mb-3">
				{% for job in jobs %}
					{% include "jobs/item.html.twig" with {'job': job} %}
				{% endfor %}
			</ul>
			<div class="pagination"></div>
		</div>
		{% if jobs | length > 0 and jobSelected is not null %}
			<div class="col-md-7 mt-3">
				{% include "jobs/content.html.twig" with { 'job': jobSelected } %}
			</div>
		{% endif %}
	</div>


{% endblock %}
